{% extends "base.html" %}

{% block title %}Expired fridge products {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if expired_products %}
    <h1> Expired products:</h1>
    <ul>
        {% for ep in expired_products %}
        <li><strong></strong>{{ep.product.name}}</strong> expired at: {{ep.expiry_date}}</li>
        {% endfor %}
    </ul>

    <p> Do you want to remove all expired products? </p>
    <form action="{% url 'remove_expired' %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete all </button>
    </form>
    {% else %}
        <p>No expired products found. </p>
    {% endif %}
    <p> </p>

{% endblock %}
