<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Fridge</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>Fridge content:</h1>
    {% if products %}
    <ul>
        {% for product in products %}
        <li>
            <strong>{{product.product.name}}</strong> - {{product.quantity}} {{product.product.unit}},   use by: {{product.expiry_date}} 
            {% if product.is_default_product %}
                <span style="color: darkgreen;">(default)</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Oops! Looks like your fridge is empty</p>
    {% endif %}

    {% if default_products %}
    <h1>Default products: </h1>
    <ul>
        {% for dp in default_products %}
        <li>
            <strong>{{dp.product.name}}</strong>
        </li>
        {% endfor %}
    {% endif %}
    </ul>




    <form action="{% url 'index' %}" method="get">
        <button type="submit">Back to home</button>
    </form>
</body>
</html>