{% extends "base.html" %}

{% block title %} My fridge {% endblock %}

{% block content %}

    <h1>Fridge content:</h1>
    <p>Products in red are out of date.</p>
    {% if fridge_products %}
        <ul>
            {% for product in fridge_products %}

            <li class="{% if product.is_fresh %}fresh{% else %}expired{% endif %}">
                <strong>{{product.product.name}}</strong> - {{product.quantity}} {{product.product.unit}}, use by: {{product.expiry_date}}
                {% if product.is_default_product %}
                    <span style="color: darkgreen;"> (default) </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Oops! Looks like your fridge is empty</p>
    {% endif %}
    
    <p>You can remove all expired products at once: </p>
    <form action="{% url 'expired' %}" method="get">
        {% csrf_token %}
        <button type="submit">Remove expired products</button>
    </form>

    <p>Or choose which product you want to remove:</p>
    
    <form action="{% url 'remove_list_products' %}" method="get">
        <button type="submit">Remove fridge products</button>
    </form>
    
    {% if default_products %}
        <h1>Default products: </h1>
        <ul>
            {% for dp in default_products %}
            <li>
                <strong>{{dp.product.name}}</strong>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

