{% extends "base.html" %}

{% block title %} My fridge {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>Fridge content:</h1>
    {% if products %}
        <ul>
            {% for product in products %}

            <li class="{% if product.is_fresh %}fresh{% else %}expired{% endif %}">
                <strong>{{product.product.name}}</strong> - {{product.quantity}} {{product.product.unit}}, use by: {{product.expiry_date}}
                {% if product.is_default_product %}
                    <span style="color: darkgreen;"> (default) </span>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Oops! Looks like your fridge is empty</p>
    {% endif %}

    {% if default_products %}
        <h1>Default products: </h1>
            <ul>
                {% for dp in default_products %}
                <li>
                    <strong>{{dp.product.name}}</strong>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
{% endblock %}

