{% extends "base.html" %}
{% block content %}

    <h1> Welcome to My little pantry</h1>
    <h2> All your complex food storage solutions in one place</h2>
    <strong>Menu options:</strong>
    <ul>
        <li><a href="{% url 'fridge' %}">My fridge</a></li>
        <li><a href="{% url 'add_fridge_product' %}">Add fridge product</a></li>
        <li><a href="{% url 'remove_fridge_product' %}">Remove fridge product</a></li>
        <li><a href="{% url 'shopping_list' %}">Shopping list</a></li>
        <!-- <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li> -->

        
    </ul>

{% endblock %}

