{% extends "base.html" %}

{% block title %} Shopping list {% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>Shopping list:</h1>
    {% if products %}
        {% for product in products %}
            <li><strong>{{product.product.name}}</strong> {{product.quantity}} {{product.product.unit}} {{is_important}} </li>
        {% endfor %}
    {% else %}
        <p>Your Shopping list is empty!</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Now you can check if something is missing in the fridge and generate shopping list!</p>
        <button type="submit"> Generate shopping list</button>
    </form>
    <p> </p>

{% endblock %}
