<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {% block title %}My little pantry{% endblock %}</title>
</head>
<body>
<header>
{% if user.is_authenticated %}
<p> Welcome {{user.username}}!</p>

<form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
</header>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>